body{
    font-family:'Poppins', sans-serif;
    
}
html {
    scroll-behavior: smooth;
  }

@media (min-width:768px){
    #search-btn-mobi{
        display: none;
    }
}
@media (min-width:768px){
    #menu-hamberger{
        display: none;
    }
}

@media (max-width:768px){
    #search-btn-mobi-2{
        display: none;
    }
}
@media (max-width:768px){
    #nav-links{
        display: none;
    }
}
.open-close-menu{
    display: flex !important;
}
/*
.navlinks div a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #ff6347;
    border-radius: 10%;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }*/
  
  /*.navlinks div a:hover::after {
    width: 30%;
  }*/
  
  .navlinks:hover div:not(:hover) {
    opacity: 0.5;
  }
@media (max-width:768px){
    .welcome{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: auto;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    overflow-y: auto;
  
  }
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    height: 100%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  #overlay_modal {
    position: fixed;
    display: none;
    width: 100%;
    height: auto;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    overflow-y: auto;
  
  }
  #modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #0800FF transparent;
  }
@media (max-width:768px){
  .limite_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;    
    max-height: 32px;  
    margin: 0 !important;   
    -webkit-line-clamp: 2; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
  }
}
@media (min-width:768px){
  .limite_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;    
    max-height: 60px;
    margin: 8px 0;     
    -webkit-line-clamp: 3; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
  }
}

  
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 0px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */ /* Some padding */
    //border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #444444; /* Add a dark-grey background on hover */
  }

  #slider {
    animation: zoom 3s;
}

@keyframes zoom {
    0%{
        background-position-x: 0%;
        background-size: 125%;
    } 
    50%{
        background-position-x: 150px;
        background-size: 110%;
    }
    100%{
        background-position-x: 0%;
        background-size: 125%;
    }
}



